
<div class="container">
  <div class="row justify-content-center">
  <div class="col-12 col-sm- 7">
    <div class="form-login">̉
    <%# <div class="body_container shadow vh-100"> %>
    <%# <div class="p-5"> %>
        <h3>Create a new note</h3>
        <%= render 'note_form' %>
    </div>
  </div>
  </div>
</div>

