
<div class="container">
  <div class="row justify-content-center">
  <div class="col-12 col-sm- 7">
    <div class="form-login">̉
<h3>Edit Tasks</h3>
<%= render 'task_form', task: @task %>
<%= link_to 'Back', tasks_path %>
  </div>
  </div>
  </div>
</div>