<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-7">
      <div class="form-login">
        <h3>Create a new Task</h3>
        <%= render 'task_form' %>
      </div>
    </div>
  </div>
</div>
