<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%= link_to root_path, class: "navbar-brand" do %>
  <%= image_tag "https://res.cloudinary.com/dk0declv9/image/upload/v1701222694/development/r4whua77qv5jbxzdy9rkx4i902q9.png" %>
<% end %>
<style>

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  margin-top: 85px;
  height: 100%;
  width: 150px;
  position: absolute;;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #292828;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #ffff;
  display: block;
}

.sidenav a:hover {
  color: #25c4b3;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body>
</body>
</html>
