<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to 'View All Notes', notes_path, class: 'btn btn-primary' %> <br>

<br><%= link_to 'View All Tasks', tasks_path, class: 'btn btn-primary' %> <br>


