  <div class="banner">
    <div class="container center">
      <h1>RE:Mind</h1>
      <h1>Your Personal Reminder Assistant</h1>
      <div class="center">
        <%= link_to 'Sign up Now', new_user_registration_path(@user), class: 'btn btn-gradient' %>
      </div>
      <div class="center">
        <%= link_to 'Already have an account? Login', new_user_session_path(@user) %>
      </div>
    </div>
  </div>
