.countdown > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 4px;
}

.countdown-text {
  font-size: 10px;
}

.countdown-number {
  height: 40px;
  background: linear-gradient( to top, #e93820 0%, #EB4833 50%, #ED5945 50%, #EE6352 100% );
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: white;
  margin-top:0;
  margin-bottom: 8px;
}
