.navbar-lewagon {
  justify-content: space-between;
  background: white;
  
}
.navbar.navbar-expand-sm.navbar-light.navbar-lewagon {
  z-index: 9999;
  height: 60px;
  position: sticky;
  top: 0;
  background-color: #fffafa;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar-link{
  color: #11dae6;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 1rem;
  text-decoration: none;
  &:hover {
    color: #0009b5;
    text-decoration: none;
  }
  &.active {
    color: #9ab500;
    text-decoration: none;
  }
}