* {
  box-sizing: border-box;
}


.sidenav {
  width: 150px;
  background-color: #292828;
  overflow-x: hidden;
  padding-top: 20px;
  flex-shrink: 0; /* Prevent the sidebar from shrinking */
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #ffff;
  display: block;
}

.sidenav a:hover {
  color: #25c4b3;
}

.main {
  flex: 1;
  margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 768px) {
  .sidenav {
    width: 100%;
    margin-top: 0;
    position: static;
  }

  .main {
    margin-left: 0;
  }
}
// .content {
//   flex: 1;
//   margin-left: 200px; /* Same as the width of the sidebar */
// }
